[submodule "subprocessio"]
	path = subprocessio
	url = git://github.com/dvdotsenko/IronPythonParts.git
[submodule "cherrypy"]
	path = cherrypy
	url = git://gitorious.org/cherrypy_wsgiserver/cherrypy_wsgiserver.git
